<div class="section" id="location">
	<div class="wrapper">
		<h2>Inviaci la tua candidatura</h2>		
			<div>
				<form action="https://sessionize.com/bettersoftware-2024" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<input type="submit" value="CANDIDATI!" name="subscribe" id="mc-embedded-subscribe" class="button" style="font-family: PlutoSansBold, sans-serif;font-size: 14px;
					line-height: 3em;
					background: #c6301a;
					color: #ffffff;
					padding: 4px 26px;
					border: none;">
				</form>
			<div>
			<br>&nbsp;<br>
			<h3>La Call For Paper E' aperta fino al <strong>7 settembre 2024</strong>!</h3>
	</div>
</div>

