<div class="section" id="content">
		<div class="wrapper">
			<section id="ribbon">
				<!--span id="where">{{ site.city }}</span-->
				<span id="season">{{ site.date }}</span>
				<span id="year">{{ site.year }}</span>
			</section>
			<section id="what">
				<h1><span>{{ site.conference-name }}</span></h1>
						<!--h3>{{ site.conference-title }}</h3-->
				<h2>La conferenza GRUSP<br>per chi sviluppa software sostenibile<br>e costruisce un futuro tecnologico migliore<br>&nbsp;<br>- 11 Ottobre 2024, Bologna -</h2>
			</section>
		</div>
	</div>
