<div class="section" id="schedule">
		<div class="wrapper">
			<h2>Schedule</h2>
			<h3>June 7, 2019</h3>
			<div id="schedule-abstract">
				<div class="schedule-session">
					<div class="hour">9.00</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Registration</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session">
					<div class="hour">9.30</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Welcome / Opening&nbsp;Remarks</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session" id="one">
					<div class="hour">9.50</div>
                     <a href="speakers.html#daycalligraphy">
						<div class="image"><img src="/img/2024/adriana-versino.jpg" alt="AV"><img src="/img/2024/francesco-fullone.jpg" alt="FF"></div>
						<div class="topic">
							<div class="title">)Why Sustainability matters. Introduzione alla complessità.</div>
							<div class="name">Adriana Versino, Francesco Fullone</div>
						</div>
					</a>


				</div>
				<div class="schedule-session" id="two">
					<div class="hour">10.20</div>
                    <a href="speakers.html#MonicaDengo">
						<div class="image"><img src="/img/2024/antoniob.jpg" alt="ab"></div>
						<div class="topic">
							<div class="title">Sustainable Digital.</div>
							<div class="name">Antonio Baldassarra</div>
						</div>
					</a>

				</div>
				<div class="schedule-session" id="">
					<div class="hour">10.55</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Coffee&nbsp;Break</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session" id="three">
					<div class="hour">11.25</div>
                    				<a href="speakers.html#laurameseguer">
						<div class="image"><img src="/img/2024/jarre-pietro.jpg" alt="jp"></div>
						<div class="topic">
							<div class="title">Scope and targets of Corporate Digital Responsibility policies</div>
              						<div class="name">Pietro Jarre</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="four">
					<div class="hour">12.00</div>
                    				<a href="speakers.html#Tipoteca">
						<div class="image"><img src="/img/2024/ilias-bartolini.jpg" alt="ib"></div>
						<div class="topic">
							<div class="title">Misurare le Emissioni dei Servizi Digitali (e non solo).</div>
							<div class="name">Ilias Bartolini</div>
						</div>
					</a>

				</div>

				<div class="schedule-session" id="four">
					<div class="hour">12.00</div>
                    				<a href="speakers.html#Tipoteca">
						<div class="image"><img src="/img/2024/michel-murabito.jpg" alt="ib"></div>
						<div class="topic">
							<div class="title">Sostenibilità e Cloud Native: strategie e strumenti per un futuro green.</div>
							<div class="name">Michel Murabito</div>
						</div>
					</a>

				</div>
				
				<div class="schedule-session">
					<div class="hour">13.05</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Lunch</div>
					</div>
				</div>
				<div class="schedule-session" id="five">
					<div class="hour">14.35</div>
                    <a href="speakers.html#TypeTasting">
						<div class="image"><img src="/img/2024/giulia-di-bella.jpg" alt="gdb"><img src="/img/2024/noemi-pagliuca.jpg" alt="np"></div>
						<div class="topic">
							<div class="title">Smart Forestry: l'innovazione tecnologica al servizio della Natura</div>
              						<div class="name">Giulia Di Bella, Noemi Pagliuca</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="six">
					<div class="hour">15.10</div>
                    <a href="speakers.html#LiebeFonts">
						<div class="image"><img src="/img/2024/massimo-crubellati.jpg" alt="mc"><img src="/img/2024/riccardo-marchiani.jpg" alt="rm"></div>
						<div class="topic">
							<div class="title">Software Sustainability in a regulated landscape</div>
							<div class="name">Massimo Crubellati, Riccardo Marchiani</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="">
					<div class="hour">15.45</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Coffee Break</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session" id="seven">
					<div class="hour">16.10</div>
					<a href="speakers.html#astridstavro">
							<div class="image"><img src="/img/2024/nicola-bonotto.jpg" alt="nb"></div>
							<div class="topic">
								<div class="title">Sustainable Web Design: princìpi e best practices.</div>
								<div class="name">Nicola Bonotto</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="eight">
					<div class="hour">16.50</div>
                    <a href="speakers.html#louisefili">
						<div class="image"><img src="/img/2024/luca-rosati.jpg" alt="lr"><img src="/img/2024/letizia-sechi.jpg" alt="ls"></div>
						<div class="topic">
							<div class="title">La sostenibile leggerezza del linguaggio. Accessibilità linguistica e sostenibilità.</div>
              						<div class="name">Luca Rosati, Letizia Sechi</div>
						</div>
					</a>
				</div>
				<div class="schedule-session" id="">
					<div class="hour">17.25</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Closing Remarks</div>
						<div class="name"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
