<div class="section" id="content">
		<div class="wrapper">
			<section id="ribbon">
				<span id="where">{{ site.city }}<i>Italy</i></span>
				<span id="season">{{ site.date }}</span>
				<span id="year">{{ site.year }}</span>
			</section>
			<section id="what">
				<h1><span>{{ site.conference-name }}</span></h1>
                		<h3>{{ site.conference-title }}</h3>
				<h2>{{ site.conference-motto }}</h2>

				<hr>
				<div class="short">Kerning is the first international conference in Italy dedicated solely to typography and web&nbsp;typography.</div>
				<div class="abstract">
					<p class="col">
					On June 5th and 6th <b>(only workshops)</b> and 7th <b>(conference day)</b> {{ site.year }} we will gather <b>in Faenza, in the very heart of Italy</b>, top notch speakers from the whole world of digital and web typography to create an unique&nbsp;event.</p>
					<p class="col">
					 Kerning features two days of workshops (June 5th and 6th) and a Conference day full of talks (June 7th). Kerning offers a very interesting chance to meet developers, gurus, managers and innovators from all over the&nbsp;world.</p>
					<p class="col">
					Kerning is a non-profit event. We want to help grow a community of prepared developers keeping knowledge affordable: that’s why <b>normal conference ticket costs just Eur. 195.00 (VAT&nbsp;excluded).</b></p>
				</div>
			</section>
		</div>
	</div>
