<div class="section" id="contact"><a id="contacts"></a>
		<div class="wrapper">
			<h2>Stay in touch</h2>
			<div class="col">
				<h3>Follow Kerning</h3>
				<ul class="social">
					<li><a href="http://www.twitter.com/kerningconf" class="twitter">@kerningconf</a></li>
					<li><a href="http://www.facebook.com/kerning.conference" class="facebook">kerning.conference</a></li>
					<li><a href="mailto:info(at)kerning.it" class="mail">info@kerning.it</a></li>
					<li><a href="/about.html" class="about">About us</a></li>
					<li><a href="/code-of-conduct.html" class="code-of-conduct">Code of conduct</a></li>
				</ul>
			</div>
			<div class="col">
				<h3>Sponsorship</h3>
				<ul>
					<li><a href="about.html#francesco"><b>Francesco Fullone</b></a><br><a href="mailto:francesco(at)kerning.it" class="">francesco@kerning.it</a><br><a href="tel:+39.347.2243285">+39 347 2243285</a></li>
				</ul>
			</div>
			<div class="col">
				<h3>Speakers</h3>
				<ul>
					<li><a href="about.html#enrico"><b>Enrico Stradaioli</b></a><br><a href="mailto:enrico(at)kerning.it" class="">enrico@kerning.it</a></li>
				</ul>

                <h3>Town &amp; Venue</h3>
				<ul>
                    <li><a href="about.html#bea"><b>Beatrice Bassi</b></a><br><a href="mailto:beatrice(at)kerning.it" class="">beatrice@kerning.it</a></li>
				</ul>
			</div>
			<div class="col">
                <h3>Previous editions</h3>
                <ul>
                    <li><a href="http://2018.kerning.it">INFINITO (2018)</a></li>
		    <li><a href="http://2017.kerning.it">DIVINA PROPORTIONE (2017)</a></li>
                    <li><a href="http://2016.kerning.it">BLACK FIRE ON WHITE FIRE (2016)</a></li>
                    <li><a href="http://2015.kerning.it">WHAT LIES BENEATH (2015) </a></li>
                    <li><a href="http://2014.kerning.it">STROKES AND SHAPES (2014)</a></li>
                    <li><a href="http://2013.kerning.it">ABOUT KERNING (2013)</a></li>
                </ul>
            </div>
		</div>
	</div>
